footer{
    background-color: rgba(67, 148, 148, 0.349);
    padding: 5px;
    text-align: center;
}

.form1 {
    width: 60%;
    margin: auto;
    padding: 30px;
    
}

.form-control{
    border: 1px solid black;
}

.card{
    height: 230px;
}